## General steps

###**Import**

In [ ]:
# !pip install -q tensorflow-recommenders
# !pip install -q --upgrade tensorflow-datasets

In [ ]:
from typing import Dict, Text

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow import keras

##**Applying Quickstart to our own dataset**

###Import module and connect to gdrive

In [ ]:
from typing import Dict, Text

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from tensorflow import keras
from tensorflow.keras.layers import TextVectorization

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
%cd /content/gdrive/My Drive/CAPSTONE

/content/gdrive/My Drive/CAPSTONE

In [ ]:
df = pd.read_csv("last_merged_data.csv")

In [ ]:
df[df['keahlian'] == 'Pemula']

,gunungID,nama_gunung,ketinggian,kota,provinsi_gunung,provinsi_user,userID,name,keahlian,tingkat_kesulitan
4,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,772,Andrew Roach,Pemula,Sulit
8,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1153,Julieta Henry,Pemula,Sulit
11,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1295,Nylah Wilkins,Pemula,Sulit
12,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1424,Sergio Allen,Pemula,Sulit
13,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1675,Coraline Long,Pemula,Sulit
...,...,...,...,...,...,...,...,...,...,...
5911,248,Pantai Siombak,3700,Tolikara,Papua,Papua,3033,Lucille Marshall,Pemula,Sulit
5914,248,Pantai Siombak,3700,Tolikara,Papua,Papua,3316,Malakai Caldwell,Pemula,Sulit
5921,248,Pantai Siombak,3700,Tolikara,Papua,Papua,3962,Ryan Christensen,Pemula,Sulit
5924,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4240,Kohen Shepard,Pemula,Sulit
5930,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4881,Kali Hurst,Pemula,Sulit

In [ ]:
df[df['keahlian'] == 'Sedang']

,gunungID,nama_gunung,ketinggian,kota,provinsi_gunung,provinsi_user,userID,name,keahlian,tingkat_kesulitan
0,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,29,Juniper Campos,Sedang,Sulit
2,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,159,Genevieve Hail,Sedang,Sulit
6,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,826,Yahir Bauer,Sedang,Sulit
9,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1285,Hadley Baxter,Sedang,Sulit
16,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,2228,Blaise Mack,Sedang,Sulit
...,...,...,...,...,...,...,...,...,...,...
5920,248,Pantai Siombak,3700,Tolikara,Papua,Papua,3880,Vicente Schwartz,Sedang,Sulit
5925,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4486,Davian Daugherty,Sedang,Sulit
5927,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4516,Israel Lester,Sedang,Sulit
5931,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4891,Jordan McCall,Sedang,Sulit
5932,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4929,Aliza Christian,Sedang,Sulit

In [ ]:
df[df['keahlian'] == 'Mahir']

,gunungID,nama_gunung,ketinggian,kota,provinsi_gunung,provinsi_user,userID,name,keahlian,tingkat_kesulitan
1,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,39,Reign Taylor,Mahir,Sulit
3,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,427,Madison Kerr,Mahir,Sulit
5,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,776,Hugh Zimmerman,Mahir,Sulit
7,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1027,Kylie Love,Mahir,Sulit
10,1,Arjuno,3339,Malang,Jawa Timur,Jawa Timur,1288,Samuel Trejo,Mahir,Sulit
...,...,...,...,...,...,...,...,...,...,...
5923,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4234,Tatum Johns,Mahir,Sulit
5926,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4487,Magdalena Greene,Mahir,Sulit
5928,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4589,Milani Fleming,Mahir,Sulit
5929,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4833,Lilianna O’Donnell,Mahir,Sulit
5933,248,Pantai Siombak,3700,Tolikara,Papua,Papua,4976,Kylan Gates,Mahir,Sulit

In [ ]:
# Print the row and column numbers
num_rows, num_columns = df.shape
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 5934
Number of columns: 10

In [ ]:
df.rename(columns={'username ':'name'}, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5934 entries, 0 to 5933
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gunungID           5934 non-null   int64
 1   nama_gunung        5934 non-null   object
 2   ketinggian         5934 non-null   int64
 3   kota               5934 non-null   object
 4   provinsi_gunung    5934 non-null   object
 5   provinsi_user      5934 non-null   object
 6   userID             5934 non-null   int64
 7   name               5934 non-null   object
 8   keahlian           5934 non-null   object
 9   tingkat_kesulitan  5934 non-null   object
dtypes: int64(3), object(7)
memory usage: 463.7+ KB

In [ ]:
df["gunungID"] = df["gunungID"].astype("string")
df["nama_gunung"] = df["nama_gunung"].astype("string")
df["ketinggian"] = df["ketinggian"].astype("int64")
df["kota"] = df["kota"].astype("string")
df["provinsi_gunung"] = df["provinsi_gunung"].astype("string")
df["provinsi_user"] = df["provinsi_user"].astype("string")
df["tingkat_kesulitan"] = df["tingkat_kesulitan"].astype("string")
df["userID"] = df["userID"].astype("string")
df["name"] = df["name"].astype("string")
df["keahlian"] = df["keahlian"].astype("string")

#Recommendation mountain by keahlian

In [ ]:
# Filtering the rare terms.
df['nama_gunung'] = df['nama_gunung'].apply(lambda x: f"'{x}'")
df['nama_gunung'] = df['nama_gunung'].apply(lambda x: f'[{x}]')
df['nama_gunung'] = list(df['nama_gunung'].astype(str))

In [ ]:
import ast

df['nama_gunung'] = [ast.literal_eval(i) for i in df['nama_gunung']]
df['nama_gunung'].values[:5]

array([list(['Arjuno']), list(['Arjuno']), list(['Arjuno']),
       list(['Arjuno']), list(['Arjuno'])], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split

test_split = 0.1

# Initial train and test split.
train_df, test_df = train_test_split(
    df,
    test_size=test_split,
    stratify=df["nama_gunung"].values,
    random_state = 42
)

# Splitting the test set further into validation
# and new test sets.
val_df = test_df.sample(frac=0.5)
test_df.drop(val_df.index, inplace=True)

print(f"Number of rows in training set: {len(train_df)}")
print(f"Number of rows in validation set: {len(val_df)}")
print(f"Number of rows in test set: {len(test_df)}")

Number of rows in training set: 5340
Number of rows in validation set: 297
Number of rows in test set: 297

In [ ]:
terms = tf.ragged.constant(train_df["nama_gunung"].values)
lookup = tf.keras.layers.StringLookup(output_mode="multi_hot")
lookup.adapt(terms)
vocab = lookup.get_vocabulary()


def invert_multi_hot(encoded_labels):
    """Reverse a single multi-hot encoded label to a tuple of vocab terms."""
    hot_indices = np.argwhere(encoded_labels == 1.0)[..., 0]
    return np.take(vocab, hot_indices)


print("Vocabulary:\n")
print(vocab)

Vocabulary:

['[UNK]', 'Bawakaraeng', 'Tambora', 'Sibela', 'Ambang', 'Ranaka', 'Padang', 'Egon', 'Colo', 'Binaiya', 'Lawu', 'Rinjani', 'Merpati', 'Gemawang', 'Seulawah Agam', 'Lompobatang', 'Bulusaraung', 'Namang', 'Mutis', 'Karangetang', 'Fatuleu', 'Puncak Jaya', 'Penanggungan', 'Muria', 'Lompobattang', 'Binembo', 'Mantalingajan', 'Liangpran', 'Jantur', 'Kerumut', 'Ibu', 'Dukono', 'Besar', 'Batur', 'Batu Tiban', 'Batu Jamak', 'Sirung', 'Mahawu', 'Lokon', 'Awu', 'Argapura', 'Purba', 'Murung', 'Kie Besi', 'Binaya', 'Bawang', 'Pangonan', 'Pamulut', 'Lumut', 'Kelimutu', 'Ile Ape', 'Telomoyo', 'Sumantri', 'Sesean', 'Rantemario', 'Pantai Siombak', 'Nokilalaki', 'Manglayang', 'Manggelum', 'Mandala', 'Lembah', 'Cleft', 'Aru', 'Tilongkabila', 'Tambusisi', 'Latimojong', 'Kendalisodo', 'Batu Benawa', 'Raung', 'Rantekombola', 'Buttu Kanduang', 'Bromo', 'Argopuro', 'Kukusan', 'Kembang', 'Inerie', 'Cemoro Sewu', 'Buttu Kabobong', 'Batu Rante', 'Merapi', 'Butak', 'Banda Api', 'Agung', 'Slamet', 'Sangeang Api', 'Ijen', 'Ebulobo', 'Yamin', 'Wilhelmus Zakaria', 'Welirang', 'Victory', 'Trikora', 'Semeru', 'Pegunungan Sudirman', 'Pegunungan Maoke', 'Panderman', 'Nona', 'Mamuya', 'Mahameru', 'Liman', 'Lambu', 'Kelud', 'Kawi', 'Gajah Mungkur', 'Bismarck', 'Arjuno', 'Punggur Besar', 'Patah', 'Merbabu', 'Gondosuli', 'Andong', 'Ungaran', 'Pulut-pulut', 'Prahu', 'Kelam', 'Bukit Raya', 'Sumbing', 'Pamaton', 'Sindoro', 'Ile Boleng', 'Klabat', 'Gamalama', 'Genuk']

In [ ]:
with open(r'/content/nama_gunung.txt', 'w') as fp:
    for item in vocab:
        # write each item on a new line
        fp.write("%s\n" % item)
    print('Done')

Done

In [ ]:
max_seqlen = 15
batch_size = 128
padding_token = "<pad>"
auto = tf.data.AUTOTUNE

In [ ]:
def make_dataset(dataframe, is_train=True):
    labels = tf.ragged.constant(dataframe["nama_gunung"].values)
    label_binarized = lookup(labels).numpy()
    dataset = tf.data.Dataset.from_tensor_slices(
        (dataframe["keahlian"].values, label_binarized)
    )
    dataset = dataset.shuffle(batch_size * 10) if is_train else dataset
    return dataset.batch(batch_size)

In [ ]:
train_dataset = make_dataset(train_df, is_train=True)
validation_dataset = make_dataset(val_df, is_train=False)
test_dataset = make_dataset(test_df, is_train=False)

In [ ]:
vocabulary = set()
df["keahlian"].str.lower().str.split().apply(vocabulary.update)
vocabulary_size = len(vocabulary)
print(vocabulary_size)

3

In [ ]:
def vectorize_layer(vocabulary_size, text_dataset: np.ndarray) -> TextVectorization:
      text_vectorizer = TextVectorization(max_tokens=vocabulary_size,
                                          ngrams=2,
                                          output_mode='tf_idf')
      with tf.device("/CPU:0"):
        text_vectorizer.adapt(text_dataset)
      return text_vectorizer

In [ ]:
text_batch, label_batch = next(iter(train_dataset))
text_batch = text_batch.numpy()
label_batch = label_batch.numpy()
vectorize_layer = vectorize_layer(text_dataset=text_batch, vocabulary_size=vocabulary_size)

In [ ]:
def make_model() -> tf.keras.Model:
        raw_input = tf.keras.Input(shape=(1,), dtype=tf.string)
        x = vectorize_layer(raw_input)
        x = tf.keras.layers.Dense(512, activation='relu')(x)
        x = tf.keras.layers.Dense(256, activation='relu')(x)
        x = tf.keras.layers.Dense(128, activation='relu')(x)
        predictions = tf.keras.layers.Dense(123, activation='sigmoid')(x)
        model = tf.keras.Model(raw_input, predictions)
        model.compile(loss='binary_crossentropy', optimizer='adam',
                      metrics=['binary_accuracy'])
        return model

In [ ]:
epochs = 20

shallow_mlp_model = make_model()

history = shallow_mlp_model.fit(
    text_batch, label_batch, validation_data=validation_dataset, epochs=epochs
)

Epoch 1/20
4/4 [==============================] - 3s 315ms/step - loss: 0.6825 - binary_accuracy: 0.6498 - val_loss: 0.6631 - val_binary_accuracy: 0.7656
Epoch 2/20
4/4 [==============================] - 0s 15ms/step - loss: 0.6453 - binary_accuracy: 0.8017 - val_loss: 0.6037 - val_binary_accuracy: 0.8666
Epoch 3/20
4/4 [==============================] - 0s 18ms/step - loss: 0.5664 - binary_accuracy: 0.8930 - val_loss: 0.4852 - val_binary_accuracy: 0.9334
Epoch 4/20
4/4 [==============================] - 0s 20ms/step - loss: 0.4251 - binary_accuracy: 0.9486 - val_loss: 0.3091 - val_binary_accuracy: 0.9701
Epoch 5/20
4/4 [==============================] - 0s 16ms/step - loss: 0.2462 - binary_accuracy: 0.9731 - val_loss: 0.1462 - val_binary_accuracy: 0.9758
Epoch 6/20
4/4 [==============================] - 0s 16ms/step - loss: 0.1119 - binary_accuracy: 0.9852 - val_loss: 0.0698 - val_binary_accuracy: 0.9919
Epoch 7/20
4/4 [==============================] - 0s 16ms/step - loss: 0.0627 - binary_accuracy: 0.9919 - val_loss: 0.0590 - val_binary_accuracy: 0.9919
Epoch 8/20
4/4 [==============================] - 0s 16ms/step - loss: 0.0601 - binary_accuracy: 0.9919 - val_loss: 0.0663 - val_binary_accuracy: 0.9919
Epoch 9/20
4/4 [==============================] - 0s 14ms/step - loss: 0.0656 - binary_accuracy: 0.9919 - val_loss: 0.0717 - val_binary_accuracy: 0.9919
Epoch 10/20
4/4 [==============================] - 0s 19ms/step - loss: 0.0675 - binary_accuracy: 0.9919 - val_loss: 0.0720 - val_binary_accuracy: 0.9919
Epoch 11/20
4/4 [==============================] - 0s 15ms/step - loss: 0.0644 - binary_accuracy: 0.9919 - val_loss: 0.0685 - val_binary_accuracy: 0.9919
Epoch 12/20
4/4 [==============================] - 0s 15ms/step - loss: 0.0587 - binary_accuracy: 0.9919 - val_loss: 0.0635 - val_binary_accuracy: 0.9919
Epoch 13/20
4/4 [==============================] - 0s 15ms/step - loss: 0.0526 - binary_accuracy: 0.9919 - val_loss: 0.0589 - val_binary_accuracy: 0.9919
Epoch 14/20
4/4 [==============================] - 0s 16ms/step - loss: 0.0480 - binary_accuracy: 0.9919 - val_loss: 0.0560 - val_binary_accuracy: 0.9919
Epoch 15/20
4/4 [==============================] - 0s 17ms/step - loss: 0.0454 - binary_accuracy: 0.9919 - val_loss: 0.0549 - val_binary_accuracy: 0.9919
Epoch 16/20
4/4 [==============================] - 0s 16ms/step - loss: 0.0446 - binary_accuracy: 0.9919 - val_loss: 0.0543 - val_binary_accuracy: 0.9919
Epoch 17/20
4/4 [==============================] - 0s 13ms/step - loss: 0.0442 - binary_accuracy: 0.9919 - val_loss: 0.0537 - val_binary_accuracy: 0.9919
Epoch 18/20
4/4 [==============================] - 0s 14ms/step - loss: 0.0437 - binary_accuracy: 0.9919 - val_loss: 0.0530 - val_binary_accuracy: 0.9919
Epoch 19/20
4/4 [==============================] - 0s 14ms/step - loss: 0.0433 - binary_accuracy: 0.9919 - val_loss: 0.0525 - val_binary_accuracy: 0.9919
Epoch 20/20
4/4 [==============================] - 0s 12ms/step - loss: 0.0430 - binary_accuracy: 0.9919 - val_loss: 0.0523 - val_binary_accuracy: 0.9919

In [ ]:
_, binary_acc = shallow_mlp_model.evaluate(test_dataset)
print(f"Categorical accuracy on the test set: {round(binary_acc * 100, 2)}%.")

3/3 [==============================] - 0s 7ms/step - loss: 0.0538 - binary_accuracy: 0.9919
Categorical accuracy on the test set: 99.19%.

## Save Model

In [ ]:
shallow_mlp_model.save('model_keahlian')

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

In [ ]:
model = tf.keras.models.load_model('model_keahlian')

## Prediction

In [ ]:
vocab_dir = '/content/nama_gunung.txt'
vocab = []
with open(vocab_dir, 'r') as fp:
  for line in fp:
    x = line[:-1]
    vocab.append(x)

In [ ]:
text = str(input('Masukkan keahlian Anda: '))
text = pd.Series(text)

Masukkan keahlian Anda: Pemula

In [ ]:
predicted_probabilities = model.predict(text)

for i, text in enumerate(text):
    print(f"Keahlian: {text}")
    predicted_proba = [proba for proba in predicted_probabilities[i]]
    top_1_labels = [
        x
        for _, x in sorted(
            zip(predicted_probabilities[i], lookup.get_vocabulary()),
            key=lambda pair: pair[0],
            reverse=True
        )
    ][:3]
    print(f"Predicted Label(s): ({', '.join([pred for pred in top_1_labels])})")
    print(" ")

1/1 [==============================] - 0s 295ms/step
Keahlian: Pemula
Predicted Label(s): (Gondosuli, Muria, Pegunungan Sudirman)